.cs-chatroom {
  // background-color: aqua;
  .cs-chat-home-i {
    display: flex;
    justify-content: center;
    // color: ;
  }
  .cs-side {
    display: flex !important;
    align-items: center;
    text-align: center;
    width: 5em;
    color: gray;
  }
  main {
    margin-left: 5.1em;
    height: 100%;
    background-color: aquamarine;
    .tab-contain {
      width: 24vw;
    }
    .MuiGrid-grid-md-4 {
      max-width: 100% !important;
    }
    .cs-chat-box{
      
    }
  }
}
