@import "./auth.scss";
@import "./chat.scss";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9aa1b9;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #9aa1b9;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #9aa1b9;
}
.cs-search-bar {
  padding: 0.8em;
  background-color: #36414a;
  color: #9aa1b9;
  display: flex;
  align-items: center;
  line-height: 1;
  border-radius: 8px;
  input {
    background-color: #36414a;
    color: #9aa1b9;
    border: hidden;
    outline: none;
    margin-left: 0.5em;
  }
  input:focus {
    outline: none;
  }
}

.cs-avt {
  width: 50px;
  height: 50px;
  background-color: #454a74;
  color: #6f65c1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  line-height: 1;
}
.cs-avt-status {
  position: absolute;
  background-color: #06d6a0;
  right: 2px;
  bottom: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.loading-screen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
.cs-loading-bar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}